
.vs/slnx.sqlite
LommeregnerV2/.vs/LommeregnerV2/v16/Server/sqlite3/db.lock
.vs/H1-Lommeregner/v16/.suo
.vs/VSWorkspaceState.json
LommeregnerV2/.vs/LommeregnerV2/v16/.suo
LommeregnerV2/LommeregnerV2/obj/Debug/netcoreapp3.1/LommeregnerV2.assets.cache
LommeregnerV2/LommeregnerV2/obj/Debug/netcoreapp3.1/LommeregnerV2.AssemblyInfoInputs.cache
LommeregnerV2/LommeregnerV2/obj/Debug/netcoreapp3.1/LommeregnerV2.csprojAssemblyReference.cache
LommeregnerV2/LommeregnerV2/obj/LommeregnerV2.csproj.nuget.cache
LommeregnerV2/.vs/LommeregnerV2/v16/Server/sqlite3/storage.ide
LommeregnerV2/.vs/LommeregnerV2/v16/Server/sqlite3/storage.ide-shm
LommeregnerV2/.vs/LommeregnerV2/v16/Server/sqlite3/storage.ide-wal
